th {
  background-color: lightblue;
  width:100px;
  border-style: solid;
  padding : 0px;
  border : none;
}

tr {
  height:50px;
  border-style: solid;
  padding : 0px;
  border : none;
}

td{
  border: none;
}

table {border-collapse: collapse;
border : none;
}


.non {
  border : none;
  background-color: red;
}

.non:hover {
  background-color: yellow;
}

.oui {
  border : none;
  background-color: #26C4EC;

}

.oui:hover {
  background-color: green;
}

.oui, .non {
  width: 80%;
  height: 80%;
  border-radius: 5px;
  vertical-align: middle;
  line-height: 200%;
}
